In [28]:
#creating and intitializing tuples
#ex1-with collection of integers
t1=(11,22,33)
print(t1,type(t1))

#to print the number of elements in tuple:
print('size of tuple  t1=',len(t1))

#ex2-with collection of strings
t2=('january','feb','march','april')
print(t2,type(t2),len(t2))
      
#ex3-with collection of mixed data type
t3=(20,'january','2021','wednesday',True,9.75)
print(t3,type(t3),len(t3))

(11, 22, 33) <class 'tuple'>
size of tuple  t1= 3
('january', 'feb', 'march', 'april') <class 'tuple'> 4
(20, 'january', '2021', 'wednesday', True, 9.75) <class 'tuple'> 6

In [29]:
#accessing the content of  a tuple with the index
t1=(5,6,[7,8,"nine"],(10,11))
print(t1[0])
print(t1[2][1])
print(t1[2][2][2])
print(t1[3][0]+t1[3][1])

5
8
n
21

In [32]:
# to count the number of occurences of an element in tuple:
t1=(10,50,50,40,30,50,60)
print(t1.count(60))
print(t1.count(80))

1
0

In [33]:
#using in and not in in tuple
t1=(10,50,50,40,30,50,60)
print(80 in t1)
print(40 in t1)

False
True

In [37]:
# index of an element in tuple:
t1=(10,50,50,40,30,50,60)
print(t1.index(30))
print(t1.index(50,3))

4
5

In [27]:
#sum,

In [47]:
# to sort elements of a tuple in ascending order:
t1=(50,20,50,40,10,30,60)
t1=sorted(t1)
print('t1=',t1,type(t1))
t1=tuple(t1)
print('t1=',t1,type(t1))
# to sort elements of a tuple in descending order:
t1=(50,20,50,40,10,30,60)
t1=sorted(t1,reverse=True)
print('t1=',t1)
t1=tuple(t1)
print('t1=',t1,type(t1))

t1= [10, 20, 30, 40, 50, 50, 60] <class 'list'>
t1= (10, 20, 30, 40, 50, 50, 60) <class 'tuple'>
t1= [60, 50, 50, 40, 30, 20, 10]
t1= (60, 50, 50, 40, 30, 20, 10) <class 'tuple'>

In [52]:
#slicing
t3=(20,'january','2021','wednesday',True,9.75)
print(t3[1:4])
print(t3[:2])
print(t3[-5:-3])
print(t3[::])
print(t3[3:1:-1])
print(t3[::-5])
print(t3[:3])
print(t3[-3:])
print(t3[1::3])
print(t3[-2::-3])

('january', '2021', 'wednesday')
(20, 'january')
('january', '2021')
(20, 'january', '2021', 'wednesday', True, 9.75)
('wednesday', '2021')
(9.75, 20)
(20, 'january', '2021')
('wednesday', True, 9.75)
('january', True)
(True, 'january')

In [11]:
tt=()#empty tuple
print(tt)
tt=tt+(1,)
print(tt)

()
(1,)

In [13]:
#tuple with  single element
c=("jan")        #not correct
print(c,type(c))

c=("jan",)      #correct
print(c,type(c),len(c))

f=tuple("jan") #correct-not with single element
print(f,type(f),len(f))

jan <class 'str'>
('jan',) <class 'tuple'> 1
('j', 'a', 'n') <class 'tuple'> 3

In [16]:
#appending the tuple
c=('jan','apr','mar')
print(c)

c=c+('feb',)
print(c,len(c))#4

#appending tuple with anohter tuple
d=('may','june',('july','aug'))
c=c+d #4+2
print(c,len(c))

('jan', 'apr', 'mar')
('jan', 'apr', 'mar', 'feb') 4
('jan', 'apr', 'mar', 'feb', 'may', 'june', ('july', 'aug')) 7

In [18]:
#replication
t1=('hi','hello')
print(t1*2)
print('t1=',t1)#2 elements
t1=t1*2
print('t1=',t1)#4 elements

['hi', 'hello', 'hi', 'hello']
t1= ['hi', 'hello']
t1= ['hi', 'hello', 'hi', 'hello']

In [58]:
a=[1]
b=a
c=a.copy()
print(a,b,c)
a.append(2)
b.append(99)
c.append(100)
print(id(a),a)
print(id(b),b)
print(id(c),c)
print(a is b)#address
print(a==b)#content or values as well as they are of same data type
b=[99]#new id
print(a,b,c)

[1] [1] [1]
2235193243912 [1, 2, 99]
2235193243912 [1, 2, 99]
2235193014600 [1, 100]
True
True
[1, 2, 99] [99] [1, 100]

In [38]:
#is
t1=(1,2,3)
t2=(1,2,3)
t3=(1,2,3,4)
print(t1 is t2)
print(t1==t2)
print(t2 is t3)

False
True
False

In [35]:
(x,y)=(10,20)
(x,y)=(y,x)
print(x)
print(y)

20
10

In [21]:
t1=(9,99) 
t2=(6,66,666)

print('before first swapping')
print('t1=',t1)
print('t2=',t2)

t1,t2=t2,t1#swapping tuples
print('after sfirst swapping')
print('t1=',t1)
print('t2=',t2)

t3=(44,55,66)
print('before second swapping')

print('t3',t3)
t1,t3=t3,t2
print('after second swapping')
print('t1',t1)
print('t2',t2)
print('t3',t3)

before first swapping
t1= (9, 99)
t2= (6, 66, 666)
after sfirst swapping
t1= (6, 66, 666)
t2= (9, 99)
before second swapping
t3 (44, 55, 66)
after second swapping
t1 (44, 55, 66)
t2 (9, 99)
t3 (9, 99)

In [26]:
t1=(1,'ant',100)
(a,b,c)=t1#t1-3 comp
print(a,b,c)
print(type(a),type(b),type(c))

1 ant 100
<class 'int'> <class 'str'> <class 'int'>

In [23]:
t1=(1,2,3,4)
(a,b,c,d)=t1
print (a)
a=99
print(t1,a)

1
(1, 2, 3, 4) 99

In [12]:
#create a tuple with n number of integers and find the sum and average of elements 
#and least and highest element
t1=()
n=int(input("n="))
for i in range(n):
    v=int(input("enter a value"))
    t1=t1+(v,)
print(t1)
print('sum=',sum(t1))
print('average=',sum(t1)/len(t1))
print('highest=',max(t1))
print('smallest=',min(t1))

n=3
enter a value10
enter a value40
enter a value2
(10, 40, 2)
sum= 52
average= 17.333333333333332
highest= 40
smallest= 2

In [21]:
#WAP to create a tuple t1 with 5 integers. and Generate two tuples t2 and t3
#that store two digit elementsof t1  and threee digit elements of t1 respectively 
t1=()
n=int(input("n="))
for i in range(n):
    v=int(input("enter a value"))
    t1=t1+(v,)

t2=()
t3=()

for i in  range(n):
    if t1[i]>=10 and t1[i]<=99:
        t2=t2+(t1[i],)
    if t1[i]>=100 and t1[i]<=999:
        t3=t3+(t1[i],)
print('t1=',t1)
print('t2=',t2)
print('t3=',t3)

n=3
enter a value1
enter a value11
enter a value111
t1= (1, 11, 111)
t2= (11,)
t3= (111,)

In [13]:
t1=(4,5,6,7)
for i in t1:
    print(i)

4
5
6
7

In [ ]:
#nested tuple
#wap to create a tuple that stores names and marks of 5 students as ordered pairs
#accept a name and print marks if present otherwise print an appropriate message
#find the average mark
t1=()
for i in range(5):
    name=input("name:")
    marks=int(input("marks:"))
    t1=t1+((name,marks),)
print(t1)

nam=input('enter a name')
found=False
sum=0

for i in range(5):
            sum=sum+t1[i][1] #marks
            if t1[i][0]==nam:#
                  print('found and marks are:',t1[i][1])
                  found=True
if found==False:         
          print('no matching record')
print('average=',sum/len(t1))

In [ ]:
#nested tuple
#wap to create a tuple with n number of ordered pairs to store x and y coordinates. 
#and count the number of ordered pairs with equal value o x and y.

In [20]:
#create a tuple with n no of  ordered pairs ((1,2),(3,4)...)
t1=()
n=int(input("n:"))#3
for i in range(n):
    x=float(input("x:"))
    y=float(input("y:"))
    t1=t1+((x,y),)
print(t1)
for i in range(len(t1)):
    print ('x=',t1[i][0],end=' ')
    print ('y=',t1[i][1])

n:3
x:1
y:1
x:2
y:2
x:3
y:33
((1.0, 1.0), (2.0, 2.0), (3.0, 33.0))
x= 1.0 y= 1.0
x= 2.0 y= 2.0
x= 3.0 y= 33.0

In [35]:
#prog i
#nested tuple
#wap to create a tuple with n number of ordered pairs to store x and y coordinates. 
#and count the number of ordered pairs with equal values of x and y.
#t=((1,2),(4,4),(5,6),(8,8),(9,4))
t=()
n=int(input('n='))#3
for i in range(n):#0 TO 2 0,1,2
    x=float(input('x='))
    y=float(input('y='))
    t=t+((x,y),)
    
print(t)

k=0
for i in range(n):
    if t[i][0]==t[i][1]:
        k=k+1
        print(t[i])
print('no of ordered pairs with equal values of x and y=',k)

n=3
x=1
y=2
x=2
y=3
x=3
y=4
((1.0, 2.0), (2.0, 3.0), (3.0, 4.0))
no of ordered pairs with equal values of x and y= 0

#given a nested tuple ((1,2),(3,4,5),(6,7))
#find the mean of elements of each tuple as a tuple (1.5,4.0,6.5)

In [ ]:
#prog iii
#write a program to create tuple with strings and 
#print the string(s) with longest string and shortest string along with the lengths
#('aa','bbbbb','cc','ddddd','eee')
#5,2
#bbbbb  dddddd
#aa   cc
1,11,21,22,29

In [17]:
#prog--method1
#given a nested tuple ((1,2),(3,4,5),(6,7))
#find the mean of elements of each tuple as a tuple (1.5,4.0,6.5)

t=((1,2),(3,4,5),(6,7))
tavg=()
for i in range(len(t)):#0,1,2
    len1=len(t[i]) #2 3  2
    sum1=0
    for j in range(len1):#0,1
        sum1=sum1+t[i][j]#6+7=13
    avg1=sum1/len1 #3/2=1.5 12/3=4.0  13/2=6.5
    tavg=tavg+(avg1,)#(1.5,4.0,6.5)
print('given tuple=',t)
print('averages of elements of subtuples of t=',tavg)

given tuple= ((1, 2), (3, 4, 5), (6, 7))
averages of elements of subtuples of t= (1.5, 4.0, 6.5)

In [ ]:
#prog-ii-ANOTHER METHOD
#given a nested tuple ((1,2),(3,4,5),(6,7))
#find the mean of elements of each tuple as a tuple (1.5,4.0,6.5)
t=((1,2),(3,4,5),(6,7),8)
tavg=()
for i in t:
    avg1=sum(i)/len(i)
    tavg=tavg+(avg1,)#(1.5,4.0,6.5)
print('given tuple=',t)
print('averages of elements of subtuples of t=',tavg)

In [ ]:
#prog iii
#write a program to create tuple with strings and 
#print the string(s) with longest string and shortest string along with the lengths
st=()
n=int(input("enter the no of strings:"))
for i in range(n):
    s=input("enter a string:")
    st=st+(s,)
print(st)
#st=('aaa','bb','ccccc','dddd','eeeee','ff')
big=len(st[0])
small=len(st[0])
for i in st:
    if len(i)>big:
        big=len(i)
    if len(i)<small:
        small=len(i)
print('length of longest string:',big)
print('length of smallest string:',small)
print('longest string(s):',end=' ')
for i in st:
    if len(i)==big:
        print(i,end=',')
        
print('\b')
print('shortest string(s):',end=' ')
for i in st:
    if len(i)==small:
        print(i,end=' ,')
print('\b')

given tuple= ((1, 2), (3, 4, 5), (6, 7))
averages of elements of subtuples of t= (1.5, 4.0, 6.5)

In [67]:
t=3,4,5
print(t,type(t))

(3, 4, 5) <class 'tuple'>

In [75]:
t=(3,4,5)
tt=tuple((t,))#tt=t
print('t=',t)
print('tt=',tt)
#tt=((3,4,5),)

t= (3, 4, 5)
tt= ((3, 4, 5),)

In [86]:
t=1,2
tt=(3,)
t=t+tt
print(t,type(t))

(1, 2, 3) <class 'tuple'>

In [78]:
t=(3,4,5)
tt=tuple(t)
print(tt,type(tt))

(3, 4, 5) <class 'tuple'>

In [94]:
t=((3,4,5,))
print('t=',t)
print('type of t=',type(t))
print('size of t=',len(t))

t= (3, 4, 5)
type of t= <class 'tuple'>
size of t= 3

In [96]:
# to print each element along with  type
t=((1,2,3),4,5.0,"length",("aa",22),(1,2.5,"abc"))
l=len(t)
for i in range(l):
    print('element -',i+1,':',t[i],type(t[i]))

element - 1 : (1, 2, 3) <class 'tuple'>
element - 2 : 4 <class 'int'>
element - 3 : 5.0 <class 'float'>
element - 4 : length <class 'str'>
element - 5 : ('aa', 22) <class 'tuple'>
element - 6 : (1, 2.5, 'abc') <class 'tuple'>

In [98]:
#create a tuple containing squares of intgers 1 to 5#t=(1,4,9,16,25)
t=()
n=int(input('n='))
for i in range(1,n+1):#1 to n
    t+=(i**2,)
print('t=',t)

n=5
t= (1, 4, 9, 16, 25)

In [102]:
#create a tuple ('a','bb','ccc','dddd','eeeee','ffffff')
t=()
#c=97#a
for i in range(1,7):#1 to 6
    t=t+(chr(96+i)*i,)
    #c=c+1#98,99,100,101,102
print(t)

('a', 'bb', 'ccc', 'dddd', 'eeeee', 'ffffff')

In [29]:
#tuple to string
t=(1,2,3)
s=str(t)
print('t=',t,len(t))
print('s=',s,type(s),len(s))
for i in t:
    print(i)

for i in s:
    print(i)

t= (1, 2, 3) 3
s= (1, 2, 3) <class 'str'> 9
1
2
3
(
1
,

2
,

3
)

In [28]:
#tuple to string
t=(1,2,3)
s=str(t)
print('t=',t,len(t))
print('s=',s,type(s),len(s))
for i in t:
    print(i)

for i in s:
    print(i)

t= (1, 2, 3) 3
s= (1, 2, 3) <class 'str'> 9
1
2
3
(
1
,

2
,

3
)

In [33]:
#STR to tuple
n="123.45"
t=tuple(n)
print('t=',t)
print('n=',n)

TypeError: 'float' object is not iterable